@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1440px;
  margin: 0px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 48px 100px 0 100px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 24px;
    align-items: center;
  }
}
.navigationBar {
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.navigationBar a {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.navigationBar a.active {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .navigationBar {
    gap: 24px;
    text-transform: uppercase;
  }
  .navigationBar a {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 145px;
    height: 47px;
  }
}
@media screen and (max-width: 374px) {
  .header__logo {
    width: 100px;
  }
}
.banner__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__section--medium {
  padding: 40px 100px 0px 100px;
}
.banner__section--large {
  padding: 48px 100px 0px 100px;
}
@media screen and (max-width: 767px) {
  .banner__section--medium, .banner__section--large {
    padding: 0px 24px;
  }
}
.banner__image {
  width: 1240px;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .banner__image {
    border-radius: 10px;
    width: 100%;
    height: 111px;
  }
}
.banner__image--darken {
  filter: brightness(40%);
}
.banner__image--enlighten {
  filter: brightness(70%);
}
.banner__title {
  font-size: 48px;
  position: absolute;
  color: #fff;
  margin: 0;
  text-shadow: #000 0px 0px 2px;
}
@media screen and (max-width: 1031px) {
  .banner__title {
    font-size: 37px;
  }
}
@media screen and (max-width: 930px) {
  .banner__title {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 24px;
    width: 48%;
  }
}
@media screen and (max-width: 590px) {
  .banner__title {
    width: 60%;
  }
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 56px;
  margin: 40px 100px;
  padding: 56px 48px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .cards__wrapper {
    gap: 24px;
    background-color: #fff;
    margin: 0px;
    padding: 24px 24px;
  }
}

@media screen and (max-width: 1031px) {
  .card {
    width: 100%;
  }
}
.card__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card__image {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}
@media screen and (max-width: 1031px) {
  .card__image {
    height: 255px;
    width: 100%;
  }
}

.card__title {
  position: absolute;
  font-size: 18px;
  color: #fff;
  margin: 0px 0px 16px 16px;
  width: 20%;
}
@media screen and (max-width: 767px) {
  .card__title {
    width: 45%;
  }
}

.error__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff6060;
}
.error__image {
  margin: 136px 0px;
}
@media screen and (max-width: 767px) {
  .error__image {
    width: 198px;
    height: 99px;
    margin: 112px 0px;
  }
}
.error__text {
  font-size: 36px;
  text-align: center;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .error__text {
    font-size: 18px;
  }
}
.error__homePageLink {
  color: #000;
  margin: 136px 0px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .error__homePageLink {
    font-size: 14px;
    margin: 112px 0px;
  }
}

.callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  border-radius: 5px;
  width: fit-content;
}
.callout__text, .callout__link {
  color: #fff;
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}

@keyframes collapse {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.collapse {
  width: 70%;
}
@media screen and (max-width: 1150px) {
  .collapse {
    width: 100%;
  }
}
.collapse__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #ff6060;
  padding: 8px 8px 8px 16px;
  font-weight: 700;
}
.collapse__title {
  color: #fff;
  margin: 0;
}
.collapse__arrow {
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}
.collapse__arrow.open {
  transform: rotate(180deg);
}
@media screen and (max-width: 1150px) {
  .collapse__arrow {
    width: 16px;
    height: 16px;
  }
}
.collapse__text-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.collapse__text-wrapper.open {
  display: flex;
  background-color: #f6f6f6;
  position: relative;
  top: -8px;
  z-index: -1;
  flex-direction: column;
  gap: 4px;
  opacity: 1;
  max-height: 145px;
  animation: collapse 350ms ease-in-out;
}
.collapse__text-wrapper-medium {
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}
.collapse__text-wrapper-large {
  transition: max-height 50ms ease-in-out, opacity 50ms ease-in-out;
}
.collapse__text {
  color: #000;
  margin: 0;
  font-size: 18px;
}
@media screen and (max-width: 1150px) {
  .collapse__text {
    font-size: 12px;
  }
}
.collapse__wrapper--medium .collapse__title-wrapper {
  border-radius: 5px;
  padding: 8px 24px 8px 8px;
}
@media screen and (max-width: 1150px) {
  .collapse__wrapper--medium .collapse__title-wrapper {
    border-radius: 5px;
    height: 30px;
  }
}
.collapse__wrapper--medium .collapse__title {
  font-size: 18px;
}
@media screen and (max-width: 1150px) {
  .collapse__wrapper--medium .collapse__title {
    font-size: 13px;
  }
}
.collapse__wrapper--medium .collapse__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.collapse__wrapper--medium .collapse__text-wrapper {
  padding: 24px 16px 16px 16px;
  border-radius: 5px;
  height: 226px;
}
@media screen and (max-width: 1150px) {
  .collapse__wrapper--medium .collapse__text-wrapper {
    padding: 16px 8px 8px 8px;
    border-radius: 5px;
    height: 112px;
  }
}
.collapse__wrapper--large {
  height: 45px;
}
.collapse__wrapper--large.open {
  height: fit-content;
}
.collapse__wrapper--large .collapse__title-wrapper, .collapse__wrapper--large .collapse__text-wrapper {
  border-radius: 5px;
}
.collapse__wrapper--large .collapse__title {
  font-size: 24px;
}
@media screen and (max-width: 1150px) {
  .collapse__wrapper--large .collapse__title {
    font-size: 13px;
  }
}
.collapse__wrapper--large .collapse__text-wrapper {
  padding: 24px 16px 16px 16px;
}

.collapses__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 24px;
}
@media screen and (max-width: 767px) {
  .collapses__wrapper {
    padding: 16px 24px;
    gap: 24px;
  }
}

.slideshow {
  padding: 40px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .slideshow {
    padding: 0px 24px;
  }
}
.slideshow__arrows {
  position: absolute;
  margin: 0px 24px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .slideshow__arrows {
    width: 11px;
    height: 19px;
    margin: 0px 8px;
  }
}
.slideshow__arrow--left {
  left: 100px;
}
@media screen and (max-width: 767px) {
  .slideshow__arrow--left {
    left: 24px;
  }
}
.slideshow__arrow--right {
  right: 100px;
}
@media screen and (max-width: 767px) {
  .slideshow__arrow--right {
    right: 24px;
  }
}
.slideshow__picture {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .slideshow__picture {
    height: 255px;
    width: 100%;
    border-radius: 10px;
  }
}
.slideshow__index {
  position: absolute;
  font-size: 18px;
  color: #fff;
  margin: 0px 0px 24px 0px;
  bottom: 0px;
}
@media screen and (max-width: 767px) {
  .slideshow__index {
    visibility: hidden;
  }
}

.star__icon {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 767px) {
  .star__icon {
    width: 13px;
    height: 13px;
  }
}

.housing__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 15px;
  background-color: #ff6060;
  width: 115px;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  .housing__tag {
    border-radius: 5px;
    font-size: 10px;
    padding: 4px 4px;
    margin: 0px;
  }
}
.housing {
  padding: 24px 100px 48px 100px;
}
@media screen and (max-width: 767px) {
  .housing {
    padding: 16px 24px 24px 24px;
  }
}
.housing__callout--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 240px 0px;
  gap: 16px;
}
.housing__callout--link {
  font-size: 18px;
  text-decoration: underline;
  color: #000;
}
.housing__informations {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .housing__informations {
    flex-direction: column;
  }
}
.housing__title {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .housing__title {
    font-size: 18px;
  }
}
.housing__location {
  font-size: 18px;
  padding: 8px 0px 24px 0px;
  margin: 0px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .housing__location {
    font-size: 14px;
    padding: 8px 0px;
  }
}
.housing__tags--wrapper {
  display: flex;
  gap: 8px;
  padding: 0px 0px 24px 0px;
}
@media (max-width: 1150px) and (min-width: 768px) {
  .housing__tags--wrapper {
    flex-wrap: wrap;
  }
}
.housing__host {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .housing__host {
    justify-content: flex-end;
    padding-bottom: 0px;
  }
}
.housing__host--name {
  color: #ff6060;
  font-size: 18px;
  text-align: end;
  width: 50%;
  font-weight: 500;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .housing__host--name {
    font-size: 12px;
  }
}
.housing__host--picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .housing__host--picture {
    width: 32px;
    height: 32px;
  }
}
.housing__icon--wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.housing__collapse--wrapper {
  display: flex;
  justify-content: center;
  gap: 72px;
}
@media screen and (max-width: 767px) {
  .housing__collapse--wrapper {
    flex-direction: column;
    gap: 24px;
  }
}
@media screen and (max-width: 767px) {
  .housing__hostAndRating--wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }
}
.housing__stars--wrapper {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .housing__stars--wrapper {
    gap: 6px;
  }
}
@media screen and (max-width: 767px) {
  .housing__collapse {
    font-size: 13px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 64px 0px 32px 0px;
  background-color: #000;
}
.footer__copyright {
  color: #fff;
  font-size: 24px;
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 0px 56px 0px;
    gap: 16px;
  }
  .footer__copyright {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
