$primary-color: #ff6060;
$primary-color: #f6f6f6;
$white: #fff;
$black: #000;
$medium-font-size: 18px;
$large-font-size: 24px;
$desktop-border-radius: 25px;
$mobile-border-radius: 10px;
$desktop-margin: 100px;
$mobile-margin: 24px;
$desktop-picture-width: 1240px;
